RewriteEngine on
RewriteBase /

RewriteRule ^blog\/([0-9]+)\-([0-9]+)\-([0-9]+)\/([0-9]+)-(.*)\.html$ index.php?page=blog&ano=$1&mes=$2&dia=$3&id=$4&url=$5 [QSA]

RewriteRule ^blog\/([0-9]+)\-([0-9]+)\-([0-9]+)\/$ index.php?page=blog&ano=$1&mes=$2&dia=$3 [QSA]
RewriteRule ^blog\/([0-9]+)\-([0-9]+)\-([0-9]+)$ index.php?page=blog&ano=$1&mes=$2&dia=$3 [QSA]

RewriteRule ^blog\/([0-9]+)\-([0-9]+)\/$ index.php?page=blog&ano=$1&mes=$2 [QSA]
RewriteRule ^blog\/([0-9]+)\-([0-9]+)$ index.php?page=blog&ano=$1&mes=$2 [QSA]

RewriteRule ^blog\/([0-9]+)\/$ index.php?page=blog&ano=$1 [QSA]
RewriteRule ^blog\/([0-9]+)$ index.php?page=blog&ano=$1 [QSA]

RewriteRule ^blog index.php?page=blog [QSA]

RewriteRule ^fotos\/([0-9]+)\.html$ index.php?page=fotos&p=$1 [QSA]
RewriteRule ^fotos\/foto_([0-9]+)\.html$ index.php?page=fotos&id=$1 [QSA]

RewriteRule ^(.*)\.html$ index.php?page=$1 [QSA]
