html,body{background: none repeat scroll 0 0 #E8F1F7;font-family: Arial !important;font-size:12px;margin: 0;padding: 0;width:335px;}
header, nav, content, footer{margin:0 auto;padding:0;width:100%;}
nav{z-index:1;}
content{z-index:2;}
@font-face {
    font-family: 'Kosovo Target';
    src: url('/fonts/KosovoTarget.ttf');
    src: url('/fonts/KosovoTarget.ttf') format('embedded-opentype'),
    url('/fonts/KosovoTarget.ttf') format('woff'),
    url('/fonts/KosovoTarget.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Sketch Block';
    src: url('/fonts/SketchBlock.ttf');
    src: url('/fonts/SketchBlock.ttf') format('embedded-opentype'),
    url('/fonts/SketchBlock.ttf') format('woff'),
    url('/fonts/SketchBlock.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Team Spirit';
    src: url('/fonts/TeamSpirit.ttf');
    src: url('/fonts/TeamSpirit.ttf') format('embedded-opentype'),
    url('/fonts/TeamSpirit.ttf') format('woff'),
    url('/fonts/TeamSpirit.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
.ui-widget{font-size:11px !important;}
.error,.done,.warning{font-size:12px !important;font-style:italic !important;font-weight:bold !important;}
.error{color:#CE1C1F !important;}
.done{color:#1CCE66 !important;}
.warning{color:#D7E035 !important;}
a.loading span, input.loading[type="button"] {
	background-image: url("/img/loader-mini.gif"), -moz-linear-gradient(center top , #FFFFFF 0%, #E0E0E0 100%);
	background-position: 95% 50%;
	background-repeat: no-repeat;
	padding-right:25px !important;
}

#total{margin:0px;padding:0px;width:100%;}
#top{/*background: none repeat scroll 0 0 #BDCFDA;*/font-family:namco regular;font-size:30px;font-weight:bold;margin:0px auto;padding:5px 0;text-align:center;text-transform:lowercase;width:100%;}
/*#menu{background: none repeat scroll 0 0 #BDCFDA;height: 28px;margin:5px auto 1px;width: 99%;}*/
#menu{/*background: none repeat scroll 0 0 #BDCFDA;height: 50px;margin: 0 auto;width: 100%;z-index:1;*/}

#content{margin:0 auto 60px;width:99.5%;}
	.greetingsname {
		font-family: 'Kosovo Target';
		color:#BDDCDA;
		font-size: 30px;
		text-shadow: 3px 3px 7px #000080;
	}
	.greetingsemail {
		font-family: 'Sketch Block';
		color:#BDDCDA;
		font-size: 28px;
		text-shadow: 3px 3px 7px #000080;
	}
	#content p, 
	#content li{color: #000000;font-family:Verdana;font-size:12px;line-height:15px;text-indent:5px;}
	.sample #logintitle{color: #000080;font-family:Verdana;font-size:14px;font-style:italic;font-weght:bold;text-align:center;}
	.sample .username_label,
	.sample .password_label{font-weight:bold;padding: 0 5px 0 10px;text-align:right;text-transform:uppercase;}
	.sample .username{}
	.sample .password{}
	
	.title{color: #000080;font-family:Verdana;font-size:14px;font-style:italic;font-weght:bold;text-indent:20px;}
	#content .ui-widget-content{padding:5px 10px;}

	.sampleedit{
		margin: 0 auto;
		width:100%;
	}
	.sampleedit tbody tr td:first-child{font-weight:bold;}
	#pagetitle {
		border-bottom-right-radius: 4px;
		color: #4971A7;
		display: block;
		font-size: 16px;
		outline: 0 none;
		padding: 0 12px;
		text-decoration: none;
		text-shadow: 1.5px 1.5px 0.5px #C1C1C1;
	}
	#addedit{
		display:none;
		padding:3px 0;
	}
	td{vertical-align:top;}
	.overg td{
		border-bottom:1px solid #CCCCCC;
	}
	.overgb td{
		background:#DEDEDE;
		border-bottom:1px solid #CCCCCC;
	}
	.over td{
		background:#DEDEDE;
		border-bottom:1px solid #CCCCCC;
	}
	.overa td{
		border-bottom:1px solid #E2E0E0;
	}
	.overb td{
		border-bottom:1px solid #E2E0E0;
	}
	.tdpag-icons{
		cursor:pointer;
	}
	.img-icons{cursor:pointer;display:inline-block;height:16px;width:16px;}
	#grid th{font-size:12px;font-weight:bold;}
	.list th a:hover{text-shadow:1px 1px #000000;}
	#list td{font-size:11px;}
	#switcherlink{margin:10px 0;}
	#switcher{padding:10px 0;}
		.boleto{cursor:pointer;}
	.preview {margin:0 auto;padding:0;width:99.9%;}
	.view {border:1px dotted #DEDEDE;margin:0 auto;padding:10px;width:95%;}

	#paginationdiv{margin: 10px 0;padding: 5px 0;}
	#pagination{margin: 0 auto;text-align: center;width:335px;}
	
#copyright{background-color:#BDCFDA;bottom:15px;font-size:14px;font-weight:bold;left:0px;padding:10px 0;position:fixed;text-align:center;width:100%;}
#html5{background:none scrol 0 0 transparent;bottom: 10px;height: 32px;position: fixed;right: 50px;width: 32px;z-index: 1;}
#css3{background:none scrol 0 0 transparent;bottom:10px;height:32px;position:fixed;right:10px;width:32px;z-index:1;}
#bottoml{background-color:#BBBBBB;bottom:0px;left:0px;height:15px;position:fixed;width:50%;}
#bottomr{background-color:#BDCFDA;bottom:0px;left:50%;height:15px;position:fixed;width:50%;}
#addeditifrm{border:0;display:none;margin:0;padding:0;}