body, html {
	border:0;
	font:12px/14px Arial;
	margin:0;
	padding:0;
}
header, content, footer {
	float:left;
	position:relative;
	width:100%;
}
header {
	background: url('/img/layout/frontend/header-bg.png') repeat-x;
	height:275px;
	width:100%;
}
	#header_top {
		height:200px;
		margin:0 auto;
		width:1002px;
	}
		#logo {
			background: url('/img/layout/frontend/logo.png') no-repeat scroll center center;
			float:left;
			height:200px;
			position:relative;
			width:210px;
		}
		#header_box {
			float:left;
			height:200px;
			position:relative;
			width:792px;
		}
			#header_ads {
				float:left;
				height:132px;
				position:relative;
				width:792px;
			}
				#header_ads_ml {
					height:90px;
					margin:0 auto;
					margin-top: 21px;
					text-align:center;
					width:728px;
				}
				#header_ads_google {
					height:90px;
					margin:0 auto;
					margin-top: 21px;
					text-align:center;
					width:728px;
				}
			#header_bottom {
				float:left;
				height:68px;
				position:relative;
				width:792px;
			}
				#header_rss {
					float:left;
					height:57px;
					margin:0;
					position:relative;
					text-align:center;
					width:55px;
				}
				#header_facebook {
					float:left;
					height:61px;
					margin:0;
					margin-left:10px;
					position:relative;
					text-align:center;
					width:50px;
				}
				#header_rss img, #header_facebook img{
					border:0;
				}
				#header_search-bar {
					background: url('/img/layout/frontend/header-search-bar.png') no-repeat scroll center center;
					float:left;
					height:42px;
					margin:0;
					margin-left:10px;
					margin-top: 25px;
					position:relative;
					text-align:center;
					width:288px;
				}
					#busca_frm #w{
						background: transparent;
						border: 0;
						color:#CCCCCC;
						float: left;
						font-size:11px;
						height: 23px;
						margin-left: 3px;
						margin-top: 2px;
						padding-left: 5px;
						position: relative;
						width: 235px;
					}
					#busca_frm #busca_btn{
						background: transparent;
						border: 0;
						cursor:pointer;
						float: left;
						height: 23px;
						margin-left: 3px;
						margin-top: 3px;
						position: relative;
						width: 26px;
					}
				#header_clock-bar {
					background: transparent;
					color: rgb(151, 89, 22);
					float:left;
					font-size:16px;
					font-weight: bold;
					height:38px;
					margin:30px 0 0 10px;
					position:relative;
					text-align:center;
					width:365px;
				}
	#menu {
		height:75px;
		margin:0 auto;
		width:1002px;
	}
		#menu-container {
			margin:0px auto;
			width:818px;
		}
			.menu-separator {
				background: url('/img/layout/frontend/menu-separator.png') no-repeat scroll center center;
				float:left;
				height:62px;
				margin-top:4px;
				position:relative;
				width:2px;
			}
			#home {
				background: url('/img/layout/frontend/link-home.png') no-repeat scroll center center;
				float:left;
				height:62px;
				margin-top:4px;
				position:relative;
				width:102px;
			}
			#home:hover, .home-active{
				background: url('/img/layout/frontend/link-home-hover.png') no-repeat scroll center center !important;
			}

			#blog {
				background: url('/img/layout/frontend/link-blog.png') no-repeat scroll center center;
				float:left;
				height:62px;
				margin-top:4px;
				position:relative;
				width:96px;
			}
			#blog:hover, .blog-active{
				background: url('/img/layout/frontend/link-blog-hover.png') no-repeat scroll center center !important;
			}

			#doacoes {
				background: url('/img/layout/frontend/link-doacoes.png') no-repeat scroll center center;
				float:left;
				height:62px;
				margin-top:4px;
				position:relative;
				width:136px;
			}
			#doacoes:hover, .doacoes-active{
				background: url('/img/layout/frontend/link-doacoes-hover.png') no-repeat scroll center center !important;
			}

			#fotos {
				background: url('/img/layout/frontend/link-fotos.png') no-repeat scroll center center;
				float:left;
				height:62px;
				margin-top:4px;
				position:relative;
				width:108px;
			}
			#fotos:hover, .fotos-active{
				background: url('/img/layout/frontend/link-fotos-hover.png') no-repeat scroll center center !important;
			}

			#loja {
				background: url('/img/layout/frontend/link-loja.png') no-repeat scroll center center;
				float:left;
				height:62px;
				margin-top:4px;
				position:relative;
				width:90px;
			}
			#loja:hover, .loja-active{
				background: url('/img/layout/frontend/link-loja-hover.png') no-repeat scroll center center !important;
			}

			#materias {
				background: url('/img/layout/frontend/link-materias.png') no-repeat scroll center center;
				float:left;
				height:62px;
				margin-top:4px;
				position:relative;
				width:139px;
			}
			#materias:hover, .materias-active{
				background: url('/img/layout/frontend/link-materias-hover.png') no-repeat scroll center center !important;
			}

			#contato {
				background: url('/img/layout/frontend/link-contato.png') no-repeat scroll center center;
				float:left;
				height:62px;
				margin-top:4px;
				position:relative;
				width:135px;
			}
			#contato:hover, .contato-active{
				background: url('/img/layout/frontend/link-contato-hover.png') no-repeat scroll center center !important;
			}






content {
	background: url('/img/layout/frontend/main-content-bg.png') repeat fixed;
}
	#content-center-box {
		margin:0 auto;
		width:1002px;
	}
		#menu-left {
			float:left;
			position:relative;
			width:200px;
		}
			#menu-left-links-top {
				background: url('/img/layout/frontend/left-menu-links.png') repeat;
				height:69px;
				margin:0 auto;
				width:196px;
			}
			#menu-left-links {
				background: url('/img/layout/frontend/left-bg.png') repeat;
				margin:0 auto;
				padding:5px 0 5px 0;
				text-align:center;
				width:196px;
			}
				#menu-left-links a{
					color: black;
					display: block;
					margin: 3px 0 3px 0;
					text-align: center;
					text-decoration: underline;
				}
				#menu-left-links a:hover{
					text-decoration:none;
				}
			#menu-left-bottom {
				background: url('/img/layout/frontend/left-bottom.png') repeat;
				height:2px;
				margin:0 auto;
				width:196px;
			}
			#menu-left-separator {
				background: url('/img/layout/frontend/left-bone-separator.png') repeat;
				height:10px;
				margin:0 auto;
				margin-bottom:5px;
				margin-top:5px;
				width:196px;
			}
			#menu-left-parceiros-top {
				background: url('/img/layout/frontend/left-menu-parceiros.png') repeat;
				height:65px;
				margin:0 auto;
				width:196px;
			}
			#menu-left-parceiros {
				background: url('/img/layout/frontend/left-bg.png') repeat;
				margin:0 auto;
				padding:5px 0 5px 0;
				text-align:center;
				width:196px;
			}
			#menu-left-parceiros img{
				border:0;
				margin-bottom:5px;
			}
			#menu-left-bottom {
				background: url('/img/layout/frontend/left-bottom.png') repeat;
				height:2px;
				margin:0 auto;
				width:196px;
			}
			
		#content-box {
			background:#FFE3D2;
			float:left;
			margin-left:5px;
			margin-right:5px;
			padding:0 10px 10px 10px;
			position:relative;
			width:612px;
		}
			#content-box a{
				color:#000000;
				text-decoration:underline;
			}
			#content-box a:hover{
				text-decoration:none;
			}
			.main-space {
				clear: both;
				margin:10px 0 10px 0;
			}
			.title-bar {
				background: url('/img/layout/frontend/title-bar.png') no-repeat;
				color: #FFFFFF;
				font-weight:bold;
				height: 43px;
				margin: 0 auto;
				text-align: center;
				padding-left: 65px;
				padding-top: 28px;
				width: 473px;
			}
				.title-bar a{
					color:#FFFFFF!important;
					text-decoration:underline!important;
				}
				.title-bar a:hover{
					text-decoration:none!important;
				}
			.title-button {
				background: url('/img/layout/frontend/title-button.png') no-repeat;
				color:#FFFFFF;
				font-weight:bold;
				height:25px;
				margin:0 auto;
				margin-bottom:10px;
				margin-top: 10px;
				padding-left:10px;
				padding-top: 10px;
				text-align:center;
				width:177px;
			}
				.title-button a{
					color:#FFFFFF!important;
					text-decoration:none!important;
				}
			#destaque-box {
				display: table;
				margin:0 auto;
				margin-top: 10px;
				text-align: center;
			}
				#destaque-box-titles {
					color:#c1560d;
					float:left;
					padding-right:2px;
					position:relative;
					text-align:right;
				}
				#destaque-box-values {
					color:#000000;
					float:left;
					font-weight:bold;
					padding-left:2px;
					position:relative;
					text-align:left;
				}
				
			.posts-links {
				padding:0 10px 0 30px;
			}
			#breadcrumbs {
				font-family: Arial;
				font-size: 11px;
				font-weight: bold;
				padding: 10px 0px 20px 0px;
			}
				#breadcrumbs .blog-link{
					padding:0 1px 0 1px;
				}
					#breadcrumbs .blog-link a{
						color:#B25107;
						text-decoration:underline!important;
					}
					#breadcrumbs .blog-link a:hover{
						text-decoration:none!important;
					}
				#breadcrumbs .blog-seta{
					color:#000000;
					padding:0 1px 0 1px;
				}
			#blog-main-title h1 {
				color:#FFFFFF;
				font-family: Arial;
				font-size: 12px;
				font-weight: bold;
				margin: 0;
				padding: 0;
			}
			#blog-post {
				margin:10px 0px 0px 0px;
			}
			#blog-espalhe {
				background: url('/img/layout/frontend/espalhe-essa-postagem-por-ai.png') no-repeat scroll center center;
				height: 0px;
				margin: 30px 0px 10px 0px;
				padding: 10px 0 10px 0;
				text-align: center;
			}
			#blog-espalhe-buttons {
				background: #FCD3B4;
				padding: 10px;
				text-align: center;
			}
			
			.image-block {
				float:left;
				position:relative;
				margin: 10px 0 10px 0;
				width:612px;
			}
				.image-box {
					float:left;
					position:relative;
					text-align: center;
					width:306px;
				}
					.image-container {
						border:2px solid #FFFFFF;
						display: table;
						margin: 0 auto;
					}
						.image-container img {
							border:2px solid #c1560d;
						}
			#pagination {
				clear:both;
				float:left;
				margin: 30px 0 30px 0;
				position:relative;
				text-align: center;
				width: 100%;
			}

				
				
				
		#ads-right {
			float:right;
			position:relative;
			width:160px;
		}
			#ads-right img{
				border:0;
			}






footer {
	background: url('/img/layout/frontend/footer-bg.png') repeat-x;
	height:238px;
	width:100%;
}
	#footer-top-bone {
		background: url('/img/layout/frontend/footer-top-bone.png') no-repeat;
		height:38px;
		margin:0 auto;
		width:118px;
	}
	#footer-box {
		height:188px;
		margin:0 auto;
		width:1002px;
	}
		#footer-left-dog {
			background: url('/img/layout/frontend/footer-left-dog.png') no-repeat scroll center center;
			float:left;
			height:188px;
			margin-top: 8px;
			position:relative;
			width:265px;
		}
		#footer-content {
			float:left;
			height:188px;
			margin-top: 8px;
			position:relative;
			text-align:center;
			width:472px;
		}
		#footer-content a{
			color:#000000;
			text-decoration: underline;
		}
		#footer-content a:hover{
			text-decoration: none;
		}
			#footer-rb-title {
				color:#000000;
				font-family:Arial;
				font-size:16px;
				font-weight:bold;
				margin-top:20px;
			}
			#footer-rb-links {
				color:#000000;
				font-family:Arial;
				font-size:14px;
				margin-top:10px;
			}
				#footer-rb-links a{
					font-weight:bold;
					margin:0 3px 0 3px;
				}
			#footer-rb-copy {
				bottom: 10px;
				color: #000000;
				font-family: Arial;
				font-size: 12px;
				font-weight: bold;
				position: absolute;
				text-align:center;
				width:100%;
			}
		#footer-right-dog {
			background: url('/img/layout/frontend/footer-right-dog.png') no-repeat scroll center center;
			float:left;
			height:188px;
			margin-top: 8px;
			position:relative;
			width:265px;
		}
