html, body{border:0 transparent !important;font-size:10px !important;margin:0 !important;padding:0 !important;}
table.preview th{font-size:13px !important;font-weight:bold !important;}
table.preview label{font-size:12px !important;font-weight:bold !important;}
table.preview tbody tr td:first-child{float:right;padding-right:2px;}
.button{display:none;}

.qq-uploader {
    position: relative;
    width: 100%;
}
.qq-upload-button {
    background: none repeat scroll 0 0 #CCCCCC;
    border-bottom: 1px solid #DDDDDD;
    color: #000000;
    display: block;
    padding: 7px 0;
    text-align: center;
    width: 105px;
}
.qq-upload-button-hover {
    background: none repeat scroll 0 0 #E5E5E5;
}
.qq-upload-button-focus {
    outline: 1px dotted black;
}
.qq-upload-drop-area {
    background: none repeat scroll 0 0 #CCCCCC;
    height: 100%;
    left: 0;
    min-height: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}
.qq-upload-drop-area span {
    display: block;
    font-size: 16px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.qq-upload-drop-area-active {
    background: none repeat scroll 0 0 #E5E5E5;
}
.qq-upload-list {
    display: none;
    list-style: decimal-leading-zero outside none;
    margin: 15px 35px;
    padding: 0;
}
.qq-upload-list li {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    padding: 0;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-remove, .qq-upload-failed-text, .qq-upload-image, .qq-upload-src {
    margin-right: 7px;
}
.qq-upload-file {
}
.qq-upload-completefilepath {
    display: none;
}
.qq-upload-spinner {
    background: url("fileuploader/loading.gif") repeat scroll 0 0 transparent;
    display: inline-block;
    height: 15px;
    vertical-align: text-bottom;
    width: 15px;
}
.qq-upload-size {
    color: blue;
    font-size: 11px;
}
.qq-upload-cancel {
    color: yellow;
    font-size: 11px;
}
.qq-upload-remove {
    color: red;
    cursor: pointer;
    font-size: 11px;
}
.qq-upload-remove:hover {
    background: none repeat scroll 0 0 red;
    color: white;
}
.qq-upload-failed-text {
    display: none;
}
.qq-upload-fail .qq-upload-failed-text {
    color: #FF0000;
    display: inline;
}
.qq-upload-image {
    cursor: pointer;
}
.qq-upload-src {
    border: 0 none;
    height: 40px;
    margin: 0;
    padding: 0;
    width: 40px;
}
.qq-upload-success {
    background: none repeat scroll 0 0 #C7F9C7;
    color: green;
    font-size: 11px;
}
.qq-upload-list {
    display: block;
    list-style: decimal-leading-zero outside none;
    margin: 15px 35px;
    padding: 0;
}
.qq-upload-list li {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    padding: 0;
}
